
.calendarContainer{
    display: flex;
    justify-content: center;
    padding: 5%;
    background-color: #0d1117;
    color: white;
}

.calendarContainer .calendarBox{
    margin: auto;
}

    
.calendarContainer .calendarBox > h3{
    text-align: center;
    border: 3px solid black;
    width: fit-content;
    border-radius: 7px;
    padding: 1%;
    margin: auto;
    font-size: 20px;
    margin-bottom: 5%;
    background-color: rgb(53, 133, 146);
    color: white;
}

.graph{
    width: 100%;
    margin: auto;
    display: block;
    display: flex;
    text-align: center;
    background-color: #0d1117;
}

.graph  img{
    width: 95%;
    margin: auto;
}

@media all and (min-width: 481px) and (max-width: 768px){
    .calendarContainer{
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 5%;
    }
    
    .calendarContainer .calendarBox{
        margin: auto;
    }
    
        
    .calendarContainer .calendarBox > h3{
        border-radius: 7px;
        font-size: 15px;
        margin-top: 7%;
        border: 1px solid rgb(22, 4, 61);
        margin-bottom: 6%;
    }
    
    .Calendar{
        height: 300px;
    }
}


@media all and (min-width: 280px) and (max-width: 480px){
    
    .calendarContainer .calendarBox{
        margin: auto;
    }
        
    .calendarContainer .calendarBox > h3{
        border-radius: 7px;
        font-size: 13px;
        margin-top: 7%;
        border: 1px solid rgb(22, 4, 61);
        margin-bottom: 6%;
    }
}