.aboutMeContainer {
    padding: 2%;
    padding-top: 3%;
}

.aboutMeContainer>h1 {
    text-align: center;
    font-family: 'Courgette', cursive;
    font-weight: bolder;
    font-size: 45px;
    width: 250px;
    margin: auto;
    border-bottom: 2px solid rgb(19, 5, 70);
    color: rgb(19, 5, 70);
}

.aboutMeDecription {
    margin: auto;
    margin-top: 3%;
    width: 85%;
    border-radius: 20px;
    background-color: whitesmoke;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    display: flex;
    padding-left: 3%;
    padding-right: 3%;
}

.aboutMeDecription:hover {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    transform: scale(1.03);
    transition: 0.5s ease-in;
}

.aboutMeContainer .aboutMeDecription .MyDescription>h3 {
    font-size: 30px;
    margin-bottom: 0.5%;
    padding-bottom: 0.5%;
    margin-left: 0.2%;
    color: rgb(95, 7, 7);
}

.aboutMeContainer .aboutMeDecription .MyDescription>h4 {
    font-size: 25px;
    margin: 0.2%;
    padding: 0.2%;
}

.aboutMeContainer .aboutMeDecription .MyDescription>.buttons {
    display: flex;
    padding: 3%;
}

.aboutMeContainer .aboutMeDecription .MyDescription>.buttons>button>a {
    text-decoration: none;
    color: inherit;
}

.aboutMeContainer .aboutMeDecription .MyDescription>.buttons>button {
    padding: 1% 2% 1% 2%;
    margin: 2%;
    background-color: rgb(130, 19, 19);
    color: white;
    cursor: pointer;
    border: 1px solid rgb(4, 0, 3);
    border-radius: 5px;
    font-weight: bolder;

    animation: shake 3s infinite;
    animation-direction: alternate;
    transform: skew(1deg);
}

.aboutMeContainer .aboutMeDecription .MyDescription>.buttons>button:hover {
    background-color: rgb(245, 249, 249);
    color: rgb(123, 1, 86);
    transform: scale(1.06);
    transition: 0.5s ease-in;
    border-radius: 15px;
}

.developerImage {
    width: 30%;
    display: flex;
    align-items: center;
}

.developerImage>img {
    width: 100%;
    height: 260px;
    border-radius: 5px;
}

.MyDescription {
    width: 70%;
    padding: 3%;
}

.aboutmeDetails {
    padding-left: 0.2%;
    margin-top: 1%;
    text-align: justify;
    font-weight: 500;
}


@keyframes shake {
    0% {
        transform: skewY(2deg);
    }

    100% {
        transform: skewY(-2deg);
    }
}

@media all and (min-width: 701px) and (max-width: 1000px) {
    .aboutMeContainer {
        padding: 4% 2%;
    }

    .aboutMeContainer>h1 {
        font-size: 35px;
        width: 150px;
        margin: auto;
        border-bottom: 2px solid rgb(19, 5, 70);
        color: rgb(19, 5, 70);
        margin-bottom: 5%;
    }

    .aboutMeContainer .aboutMeDecription .MyDescription>h3 {
        font-size: 25px;
    }

    .aboutMeContainer .aboutMeDecription .MyDescription>h4 {
        font-size: 20px;
    }

    .developerImage {
        width: 30%;
        display: flex;
        align-items: center;
    }

    .developerImage>img {
        width: 100%;
        height: 200px;
        border-radius: 5px;
    }

    .MyDescription {
        width: 70%;
        padding: 3%;
    }

    .aboutmeDetails {
        padding-left: 0.2%;
        margin-top: 1%;
        font-weight: 400;
        font-size: 13px;
    }
}

@media all and (min-width: 451px) and (max-width: 700px) {

    .aboutMeContainer {
        padding: auto;
    }

    .aboutMeContainer>h1 {
        font-size: 35px;
        width: 150px;
        margin: auto;
        border-bottom: 2px solid rgb(19, 5, 70);
        color: rgb(19, 5, 70);
        margin-bottom: 5%;
    }

    .aboutMeContainer .aboutMeDecription .MyDescription>h3 {
        font-size: 130%;
        margin: 2%;
    }

    .aboutMeContainer .aboutMeDecription .MyDescription>h4 {
        font-size: 20px;
        margin-bottom: 2%;
    }

    .aboutMeDecription {
        display: flex;
        padding: auto;
        padding-top: 4%;
        flex-direction: column;
    }

    .developerImage {
        width: 80%;
        margin: auto;
        display: flex;
        margin-top: 3%;
        align-items: center;
    }

    .developerImage>img {
        width: 100%;
        height: 200px;
        border-radius: 5px;
    }


    .MyDescription {
        width: fit-content;
        padding: 3%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .aboutmeDetails {
        font-weight: 400;
        margin: auto;
        margin-top: 1%;
        padding: auto;
        font-size: 13px;
    }

    .aboutMeContainer .aboutMeDecription .MyDescription>.buttons {
        display: flex;
        padding: 3%;
        width: 60%;
        margin: auto;
        margin-top: 3%;
        justify-content: space-around;
    }

    .aboutMeContainer .aboutMeDecription .MyDescription>.buttons>button {
        padding: 2% 3% 2% 3%;
        margin: 2%;
        font-size: 20px;
    }

    .aboutMeContainer .aboutMeDecription .MyDescription>.buttons>button:hover {
        background-color: rgb(27, 139, 130);
        color: rgb(244, 237, 242);
    }
}


@media all and (min-width: 250px) and (max-width: 450px) {

    .aboutMeContainer {
        padding: auto;
    }

    .aboutMeContainer>h1 {
        font-size: 35px;
        width: 150px;
        margin: auto;
        border-bottom: 2px solid rgb(19, 5, 70);
        color: rgb(19, 5, 70);
        margin-bottom: 5%;
    }

    .aboutMeContainer .aboutMeDecription .MyDescription>h3 {
        font-size: 100%;
        margin: 2%;
    }

    .aboutMeContainer .aboutMeDecription .MyDescription>h4 {
        font-size: 12px;
        margin-bottom: 2%;
    }

    .aboutMeDecription {
        display: flex;
        padding: auto;
        padding-top: 4%;
        flex-direction: column;
    }

    .developerImage {
        width: 80%;
        margin: auto;
        display: flex;
        margin-top: 3%;
        align-items: center;
    }

    .developerImage>img {
        width: 100%;
        height: 170px;
        border-radius: 5px;
    }


    .MyDescription {
        width: fit-content;
        padding: 3%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .aboutmeDetails {
        font-weight: 400;
        margin: auto;
        margin-top: 1%;
        padding: auto;
        font-size: 11px;
    }

    .aboutMeContainer .aboutMeDecription .MyDescription>.buttons {
        display: flex;
        padding: 3%;
        width: 60%;
        margin: auto;
        margin-top: 3%;
        justify-content: space-around;
    }

    .aboutMeContainer .aboutMeDecription .MyDescription>.buttons>button {
        padding: 2% 3% 2% 3%;
        margin: 2%;
        font-size: 15px;
    }

    .aboutMeContainer .aboutMeDecription .MyDescription>.buttons>button:hover {
        background-color: rgb(27, 139, 130);
        color: rgb(244, 237, 242);
    }
}