.navbarContainer {
    z-index: 1;
    position: fixed;
    margin: auto;
    background-color: #171c24;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(252, 248, 248);
}

#box-1second {
    display: none;
}

.mainNavbarBox {
    display: none;
    width: 0%;
}

.logo {
    padding: 0.5% 0% 1% 1%;
    margin-left: 2%;
    width: 100px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.logo>span {
    font-size: 45px;
    font-family: 'Courgette', cursive;
    color: red;
}

.nav {
    display: grid;
    width: 60%;
    grid-template-columns: repeat(6, 1fr);
    padding-top: 1.7%;
}

.nav>div {
    /* border: 1px solid rgb(247, 5, 5); */
    cursor: pointer;
    background-color: white;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    /* border-radius: 10px; */
    display: block;
    text-align: center;
    padding-top: 5%;
    width: 100px;
    color: black;
    height: 25px;
    font-size: 15px;
    font-weight: bold;
}

.nav>div:hover {
    transform: scale(1.04);
    transition: 0.5s ease-out;
    border: 1px solid rgb(224, 3, 3);
    background-color: rgb(1, 20, 23);
    color: white;
}

.nav>div>a {
    text-decoration: none;
    color: inherit;
}


@media all and (min-width: 951px) and (max-width: 1100px) {
    #box-1second {
        display: none;
    }

    #box-2 {
        display: none;
    }

    .mainNavbarBox {
        display: none;
        width: 0%;
    }

    .logo {
        padding: 0.2% 0% 1% 1%;
        margin-left: 1%;
        font-size: 20px;
        font-weight: bolder;
    }

    .logo>span {
        font-size: 45px;
    }

    .nav {
        display: grid;
        width: 75%;
        grid-template-columns: repeat(6, 1fr);
        padding-top: 1%;
    }

    .nav>div {
        background-color: white;
        box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
        padding-top: 4%;
        margin-top: 7%;
        width: 100px;
        height: 22px;
        font-size: 10px;
        font-weight: bolder;
        border: 2px solid rgb(94, 10, 65);
    }

    .nav>div>a {
        font-size: 15px;
    }

}

@media all and (min-width: 550px) and (max-width: 950px) {

    #box-2 {
        display: none;

    }

    .mainNavbarBox {
        display: none;
        width: 0%;
    }

    #nav-menu {
        display: none;
    }

    .mainNavbarBox {
        display: none;
        width: 0%;
    }


    #box-1second {
        position: fixed;
        z-index: 1;
        display: flex;
        top: 0%;
        width: 100%;
        background-color: rgb(18, 17, 17);
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        padding-bottom: 2%;
    }

    .logosecond {
        padding: 0.5% 0% 1% 1%;
        margin-left: 2%;
        margin-right: 3%;
        width: 100px;
        font-size: 24px;
        font-weight: bold;
        color: white;
    }

    .logosecond>span {
        font-size: 45px;
        color: red;
        font-family: 'Courgette', cursive;
    }

    .navsecond {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(6, 1fr);
        padding-top: 2.7%;
        margin-right: 2%;
    }

    .navsecond>div {
        border: 0.5px solid black;
        cursor: pointer;
        background-color: white;
        box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
        border-radius: 10px;
        display: block;
        text-align: center;
        padding-top: 5%;
        height: 25px;
        margin: 3%;
        font-size: 12px;
        font-weight: bold;
    }

    .navsecond>div:hover {
        transform: scale(1.04);
        transition: 0.5s ease-out;
        border: 1px solid rgb(224, 3, 3);
        background-color: rgb(162, 203, 210);
    }

    .navsecond>div>a {
        text-decoration: none;
        font-size: 15px;
        color: black;
    }

    .navsecond>div span {
        color: rgb(206, 3, 108);
    }
}

@media all and (min-width: 250px) and (max-width: 550px) {
    #box-1second {
        display: none;
    }

    .navbarContainer {
        display: none;
        height: 0%;
        width: 0%;
    }

    #nav-menu {
        display: none;
    }

    .mainNavbarBox {
        z-index: 10;
        display: flex;
        width: 100%;
        top: -1px;
        padding-bottom: -200px;
        margin-bottom: -380px;
        position: fixed;
    }

    .burgerNav {
        width: 100%;
        height: 4em;
        background-color: black;
        display: flex;
        border-bottom: 1px solid white;
        justify-content: space-between;
        padding: 1em;
    }


    .navlogo {
        padding: 0.5% 0% 1% 1%;
        width: 100%;
        align-self: right;
        color: white;
        font-size: 20px;
        font-weight: bold;
    }

    .navlogo>span {
        font-size: 45px;
        color: rgb(244, 181, 6);
        font-family: 'Courgette', cursive;
    }

    .navinside1 {
        padding: 0.5% 2% 1% 1%;
        width: 200%;
        margin-right: 0%;
        margin-top: 3%;
        color: white;
        font-size: 20px;
        text-align: right;
        font-weight: bold;
    }

    .navinside1>span {
        font-size: 45px;
        color: rgb(225, 10, 10);
        font-family: 'Courgette', cursive;
    }

    .burger-menu {
        height: 70%;
        width: 4em;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        cursor: pointer;
        z-index: 10;
    }

    .burger-bar {
        width: 2.2em;
        height: 0.3em;
        background-color: rgb(224, 238, 237);
        border-radius: 0.5em;
    }

    .menu {
        width: 100%;
        background-color: rgb(7, 7, 7);
        position: absolute;
        top: 0;
        z-index: 1;
    }

    .navinside {
        display: grid;
        width: 70%;
        height: auto;
        margin-top: 25%;
        justify-content: left;
        grid-template-columns: repeat(1, 1fr);
        gap: 2%;
        padding-top: 1.7%;
        padding-left: 5%;
        z-index: 1;
    }

    .navbarContainer {
        z-index: 1;
        background-color: black;
        position: relative;
        margin: auto;
        color: white;
        width: 99%;
        margin-right: 1%;
        height: 300px;
        display: flex;
        justify-content: space-between;
    }


    .navinside>div {
        border-bottom: 1px solid rgb(251, 165, 5);
        background-color: black;
        color: white;
        padding-top: 2%;
        padding-bottom: 2%;
        padding-left: 15%;
        width: 130%;
        height: 30px;
        font-size: 20px;
        font-weight: bold;
        border-bottom-left-radius: 10px;
    }

    .navinside>div>a {
        text-decoration: none;
        color: white;
    }

    .hidden {
        display: none;
        height: 0px;
    }

    .visible {
        display: inherit;
        height: 100vh;
    }

    .burger-bar.clicked:nth-child(1) {
        transform: rotate(45deg) translate(0.75em, 1.25em);
        transition: ease-out 0.5s;
    }

    .burger-bar.clicked:nth-child(2) {
        transform: scale(0.1);
        transition: ease-out 0.5s;
    }

    .burger-bar.clicked:nth-child(3) {
        transform: rotate(135deg) translate(-0.5em, 1em);
        transition: ease-out 0.5s;
    }

    .burger-bar.unclicked {
        transform: rotate(0) translate(0);
        transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
    }

}