.projectsContainer {
    width: 100%;
    height: auto;
    padding-top: 3%;
    padding-bottom: 2%;
}

.projectsContainer .projectheading {
    width: 100%;
    text-align: center;
}

.projectsContainer .projectheading h1 {
    text-align: center;
    font-family: 'Courgette', cursive;
    font-weight: bolder;
    font-size: 45px;
    width: 200px;
    margin: auto;
    border-bottom: 2px solid rgb(19, 5, 70);
    color: rgb(19, 5, 70);
    margin-bottom: 5px;
}


.projectBox {
    padding: 3%;
}

.projectItem {
    display: flex;
    justify-content: space-evenly;
    padding: 2%;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    width: 90%;
    margin: auto;
    background-color: white;
    border-radius: 17px;
    padding-bottom: 4%;
}

.projectItem1 {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    flex-direction: row-reverse;
    padding: 2%;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    width: 90%;
    background-color: white;
    border-radius: 17px;
    padding-bottom: 4%;
}

.projectItem:hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
    transform: scale(1.03);
    transition: 0.5s ease-in;
}

.projectItem1:hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
    transform: scale(1.03);
    transition: 0.5s ease-in;
}

.projectDetails {
    width: 45%;
    display: block;
    text-align: center;
}

.projectDetails>h2 {
    display: flex;
    color: rgb(6, 84, 84);
}

.projectImage {
    width: 45%;
    display: block;
}

.projectImage>img {
    width: 100%;
    border: 3px solid black;
    border-radius: 20px;
}

.desc {
    text-align: left;
    font-size: 90%;
}

.desc>span {
    font-size: large;
    font-weight: bold;
}


.techStacks .btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.techStacks .btn>button {
    width: 150px;
    margin: 2%;
    border-radius: 10px;
    background-color: rgb(194, 31, 91);
    color: white;
}

.techStacks .btn>button:hover {
    background-color: rgb(8, 0, 0);
    color: rgb(255, 254, 254);
    transform: scale(1.06);
    transition: 0.4s ease-in;
}

.techStacks .btn>button>h3 {
    padding: 1%;
    margin: 1%;
}

.techStacks .btn>button>h3>a {
    text-decoration: none;
    color: inherit;
}


.techStacks>.tech-stacks {
    display: flex;
    flex-direction: column;
    gap: 3%;
}

.techStacks>.tech-stacks>h3 {
    font-size: 120%;
    color: rgb(134, 8, 8);
}

.techStacks>.tech-stacks>div {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    width: 100%;
    gap: 14% 4%;
}

.languages {
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    flex-direction: column;
    padding: 3%;
    border: 1px solid rgb(5, 7, 0);
    justify-content: center;
    align-items: center;
}

.languages:hover {
    transform: scale(1.06);
    border-radius: 5px;
    transition: 0.4s ease-in;
}

.languages>div {
    width: 100%;
}

.languages>div img {
    width: 60%;
    align-self: center;
    margin: auto;
    margin-top: 10%;
    border-radius: 20%;
}

.languages>div p {
    font-size: 7px;
    padding: 1%;
    margin: 0% auto 10% auto;
    font-weight: bolder;
    color: rgb(153, 6, 69);
}


.techStacks {
    display: flex;
    justify-content: space-evenly;
    gap: 2%;
}

.project-type {
    font-size: 160%;
    color: rgb(153, 6, 69);
    font-weight: bold;
}

.project-type>span {
    color: blue;
}

@media all and (min-width: 901px) and (max-width: 1150px) {

    .techStacks {
        display: flex;
        flex-direction: column;
        gap: 2%;
    }

    .techStacks .btn {
        display: flex;
        flex-direction: row;
        margin-top: 4%;
        justify-content: center;
    }
}

@media all and (min-width: 651px) and (max-width: 900px) {

    #Projects {
        padding-top: 1%;
    }

    .projectDetails {
        width: 100%;
        display: block;
        text-align: center;
        padding-right: 3%;
    }

    .projectsContainer .projectheading {
        width: 100%;
    }

    .projectsContainer .projectheading h1 {
        font-size: 30px;
        width: fit-content;
        margin-bottom: 1%;
    }

    .projectItem {
        display: flex;
        flex-direction: column;
        width: 85%;
        margin: auto;
        padding: 5%;
    }

    .projectItem1 {
        display: flex;
        flex-direction: column;
        width: 85%;
        margin: auto;
        padding: 5%;
    }

    .projectDetails h2 {
        font-size: 200%;
        color: rgb(3, 101, 101);
    }

    .projectImage {
        width: 95%;
        margin-top: 5%;
        margin: auto;
    }

    .projectImage>img {
        width: 100%;
        border-radius: 3px;
        margin: auto;
    }

    .desc>span {
        font-size: medium;
        font-weight: bold;
    }

    .techStacks {
        display: flex;
        flex-direction: column;
        gap: 2%;
    }


    .techStacks .btn {
        display: flex;
        margin-top: 5%;
        flex-direction: row;
    }

    .techStacks .btn>button {
        width: 150px;
        margin: 1%;
        font-size: 13px;
    }

    .desc {
        font-size: 110%;
    }

    .desc>span {
        font-size: 150%;
    }

    .techStacks>.tech-stacks>div {
        width: 80%;
        margin: auto;
        gap: 15% 4%;
    }

    .languages>div img {
        width: 60%;
        margin-top: 10%;
    }

    .languages>div p {
        font-size: 7px;
        padding: 1%;
        margin: 0% auto 10% auto;
        font-weight: 1000;
    }

    .project-type {
        font-size: 230%;
        color: rgb(153, 6, 69);
        font-weight: bold;
    }
}

@media all and (min-width: 400px) and (max-width: 650px) {

    #Projects {
        padding-top: 2%;
    }

    .projectDetails {
        width: 100%;
        display: block;
        text-align: center;
        padding-right: 3%;
    }

    .projectsContainer .projectheading {
        width: 100%;
    }

    .projectsContainer .projectheading h1 {
        font-size: 30px;
        width: fit-content;
        margin-bottom: 2%;
    }

    .projectItem {
        display: flex;
        flex-direction: column;
        width: 85%;
        margin: auto;
        padding: 5%;
    }

    .projectItem1 {
        display: flex;
        flex-direction: column;
        width: 85%;
        margin: auto;
        padding: 5%;
    }

    .projectDetails h2 {
        font-size: 150%;
        color: rgb(1, 70, 87);
    }

    .projectImage {
        width: 95%;
        margin-top: 5%;
        height: auto;
        margin: auto;
    }

    .projectImage>img {
        height: 200px;
        width: 100%;
        border-radius: 3px;
        margin: auto;
    }

    .desc>span {
        font-size: medium;
        font-weight: bold;
    }

    .techStacks {
        display: flex;
        flex-direction: column;
        gap: 2%;
    }


    .techStacks .btn {
        display: flex;
        margin-top: 5%;
        flex-direction: row;
    }

    .techStacks .btn>button {
        width: 150px;
        margin: 1%;
        font-size: 13px;
    }

    .desc {
        font-size: 70%;
    }

    .techStacks>.tech-stacks>div {
        width: 80%;
        margin: auto;
        gap: 15% 4%;
    }

    .languages>div img {
        width: 60%;
        margin-top: 10%;
    }

    .languages>div p {
        font-size: 7px;
        padding: 1%;
        margin: 0% auto 10% auto;
        font-weight: 1000;
    }
}

@media all and (min-width: 250px) and (max-width: 400px) {

    .project-type {
        font-size: 100%;
        font-weight: bold;
    }

    #Projects {
        padding-top: 5%;
    }

    .projectDetails {
        width: 100%;
        display: block;
        text-align: center;
        padding-right: 3%;
    }

    .projectsContainer .projectheading {
        width: 100%;
    }

    .projectsContainer .projectheading h1 {
        font-size: 30px;
        width: fit-content;
        margin-bottom: 5%;
    }

    .projectItem1 {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .projectItem1 {
        display: flex;
        flex-direction: column;
        padding: 5%;
        box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
        width: 85%;
        background-color: white;
        border-radius: 17px;
    }

    .projectDetails h2 {
        font-size: large;
        color: rgb(34, 4, 201);
    }

    .projectItem {
        display: flex;
        flex-direction: column;
        padding: 5%;
        box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
        width: 85%;
        background-color: white;
        border-radius: 17px;
    }

    .projectImage {
        width: 90%;
        margin-top: 5%;
        height: 225px;
        margin: auto;
        margin-bottom: -20px;
    }

    .projectImage>img {
        height: 150px;
        width: 100%;
        border-radius: 3px;
        margin: auto;
    }

    .desc>span {
        font-size: medium;
        font-weight: bold;
    }

    .techStacks {
        display: flex;
        flex-direction: column;
        gap: 2%;
    }

    .techStacks .btn {
        display: block;
        margin-top: 5%;
        flex-direction: column;
    }

    .techStacks .btn>button {
        width: 150px;
        background-color: rgb(194, 31, 91);
        color: white;
        margin: 1%;
        font-size: 13px;
    }

    .desc {
        font-size: 70%;
    }

    .techStacks>.tech-stacks>div {
        width: 95%;
        gap: 15% 4%;
        margin: auto;
        margin-bottom: 3%;
    }

    .languages>div img {
        width: 70%;
        margin-top: 10%;
    }

    .languages>div p {
        font-size: 6px;
        padding: 1%;
        margin: 0% auto 10% auto;
        font-weight: 1000;
    }
}