#skills {
    padding-top: 1%;
    padding-bottom: 2%;
}

.skillContainer {
    display: flex;
    flex-direction: column;
}

.skillContainer>div>h1 {
    text-align: center;
    font-family: "Courgette", cursive;
    font-weight: bolder;
    font-size: 45px;
    width: fit-content;
    margin: auto;
    border-bottom: 2px solid rgb(19, 5, 70);
    color: rgb(19, 5, 70);
    margin-bottom: 5px;
}

.skillsBox {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    width: 85%;
    margin: auto;
    margin-top: 3%;
}

.skillsBox>div {
    text-align: center;
    width: 90%;
    height: auto;
    cursor: pointer;
    background-color: white;
    border-radius: 5px;
    border: 3px solid rgb(11, 1, 102);
    margin: 4%;
    animation: shake 2s infinite;
    animation-direction: alternate;
    transform: skew(5deg);
    overflow: hidden;
    box-shadow: rgba(251, 249, 249, 0.853) 0px -23px 25px 0px inset,
        rgba(252, 247, 247, 0.913) 0px -36px 30px 0px inset,
        rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
        rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
        rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

@keyframes shake {
    0% {
        transform: skewY(5deg);
    }

    100% {
        transform: skewY(-5deg);
    }
}

.skillsBox>div:hover {
    background-color: rgb(3, 224, 254);
    box-shadow: none;
}

.skillsBox>div>img {
    width: 30%;
    margin: 10%;
    margin-top: 15%;
}

.skillsBox>div>img:hover {
    transform: scale(1.3);
    transition: all 0.7s ease-in-out;
}

.skillsBox>div>h3 {
    font-size: 15px;
    margin: 1%;
    margin-bottom: 15%;
    padding: 1%;
    color: rgb(133, 22, 22);
}

@media all and (min-width: 601px) and (max-width: 900px) {
    .skillContainer {
        display: flex;
        flex-direction: column;
    }

    .skillContainer>div>h1 {
        font-size: 35px;
        width: fit-content;
    }

    .skillsBox {
        grid-template-columns: repeat(5, 1fr);
        width: 85%;
        margin: auto;
        margin-top: 5%;
    }

    .skillsBox>div {
        border-radius: 5px;
        border: 2px solid rgb(1, 1, 101);
        height: fit-content;
        width: 90%;
    }

    .skillsBox>div:hover {
        border: 3px solid rgb(123, 2, 2);
    }

    .skillsBox>div>img {
        width: 40%;
    }

    .skillsBox>div>h3 {
        font-size: 14px;
        margin-bottom: 7%;
    }
}

@media all and (min-width: 551px) and (max-width: 600px) {
    .skillContainer {
        display: flex;
        flex-direction: column;
        padding-bottom: 5%;
    }

    .skillContainer>div>h1 {
        font-size: 35px;
        width: fit-content;
    }

    .skillsBox {
        grid-template-columns: repeat(4, 1fr);
        width: 90%;
        margin: auto;
        height: auto;
        margin-top: 7%;
    }

    .skillsBox>div {
        width: 85%;
        border-radius: 5px;
        border: 2px solid rgb(3, 1, 90);
        height: fit-content;
    }

    .skillsBox>div:hover {
        border: 3px solid rgb(103, 2, 2);
    }

    .skillsBox>div>img {
        width: 35%;
        margin-bottom: 5%;
        margin-top: 10%;
    }

    .skillsBox>div>h3 {
        font-size: 15px;
        margin-bottom: 7%;
    }
}

@media all and (min-width: 301px) and (max-width: 550px) {
    .skillContainer {
        display: flex;
        flex-direction: column;
        padding-bottom: 10%;
    }

    .skillContainer>div>h1 {
        font-size: 35px;
        width: fit-content;
    }

    .skillsBox {
        grid-template-columns: repeat(4, 1fr);
        width: 90%;
        margin: auto;
        height: auto;
        margin-top: 7%;
    }

    .skillsBox>div {
        font-size: 70px;
        border-radius: 5px;
        border: 3px solid rgb(3, 1, 90);
    }

    .skillsBox>div:hover {
        border: 3px solid rgb(103, 2, 2);
    }

    .skillsBox>div>img {
        width: 50%;
        margin-top: 0%;
        margin-bottom: 1%;
    }

    .skillsBox>div>h3 {
        font-size: 10px;
    }
}

@media all and (min-width: 250px) and (max-width: 300px) {
    .skillContainer {
        display: flex;
        flex-direction: column;
        padding-bottom: 35%;
    }

    .skillsBox {
        grid-template-columns: repeat(2, 1fr);
        width: 85%;
        margin: auto;
        height: auto;
        margin-top: 5%;
    }

    .skillsBox>div img {
        width: 40%;
        margin: auto;
        margin-top: 10%;
    }

    .skillsBox>div {
        border: 3px solid rgb(24, 1, 105);
    }
}