.container{
    display: block;
    background-image: url(https://static.vecteezy.com/system/resources/previews/006/785/443/large_2x/simple-elegant-liquid-water-and-wave-and-transparent-curve-shape-for-texture-and-presentation-background-template-free-photo.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    margin: auto;
    background-color: white;
}  
.container > div {
  display: flex;
  height: fit-content;
  justify-content: space-between;
}
.container > div{
    padding-top: 9%;
    display: flex;
    width: 90%;
    height: 100vh;
    margin: auto;
}

.description{
    width: 60%;
    padding-top: 5%;
}

.imagebox{
    width: 40%;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    margin: auto;
    margin-top: 2%;
}

.profile-details-name{
    font-size: 25px;
    font-family: 'Poppins SemiBold';
  }
  
.profile-details-role{
  display: flex;
  flex-direction: column;
  margin: 14px 0 24px 0;
}

.highlighted-text{
  color: red;
  font-family: 'Dancing Script', cursive;
  font-size: 30px;
}

h6{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 20px;
}

.profile-tag-line{
  font-size: 19px;
  margin: 5px 0px 0px 0px;
  font-family: 'Poppins Light';
}

.highlighted-btn{
  cursor: pointer;
  margin: 3% 0 0 20px;
  padding: 2% 3%;
  background-color: orangered;
  color:white;
  font-weight: bold;
  border-radius: 20px;
}

.highlighted-btn:hover{
  margin: 3% 0 0 20px;
  background-color: cornsilk;
  color: black;
}

.primary-btn{
  margin: 3% 0 0 20px;
  padding: 2% 3%;
  cursor: pointer;
  background-color: white;
  color: black;
  font-weight: bold;
  border-radius: 20px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}

.primary-btn:hover{
  margin: 3% 0 0 20px;
  background-color: cornsilk;
  color: black;
}

.profile-picture{
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 0px 0px red;
  height: auto;
  width: auto;
  cursor: pointer;
  border-radius: 50%;
  margin: 0px 0px 0px 25px;
}

.profile-picture-background{
  height: 94%;
  width: 94%;
  border-radius: 50%;
}
.profile-picture-background img{
  width: 98.5%;
  height: 99%;
  border-radius: 50%;
  border: 5px solid black;
}

.profile-picture-background img:hover{
  transform: scale(1.06);
  transition: 1s ease-out;
}

.primary-text{
  font-family: 'Dancing Script', cursive;
  font-weight: bolder;
  font-size: 35px;
  padding: 0%;
  margin: 0%;
  color: rgb(19, 5, 70);
}

h6{
  padding: 0%;
  margin: 0%;
}

.colz-icon{
  display: flex;
  gap: 2%;
}
  
.colz-icon a{
  border-radius: 5px;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 1%;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  background-color: white;
}  


@media all and (min-width: 750px) and (max-width: 1200px){

  .container{
    height: fit-content;
  }
  .container > div {
    display: flex;
    height: 80vh;
    justify-content: space-between;
  }

  .profile-details-name{
      font-size: 15px;
  }
    
  .profile-details-role{
    margin: 5px 0 10px 0;
  }

  .highlighted-text{
    font-size: 20px;
  }

  h6{
    font-size: 15px;
  }

  .profile-tag-line{
    font-size: 17px;
    margin: 1px 0px 0px 0px;
  }

  .profile-picture{
    height: auto;
    width: auto;
    padding: 2%;
  }

  .profile-picture-background{
    height: 98%;
    width: 98%;
    border-radius: 50%;
  }
  .profile-picture-background img{
    width: 96%;
    height: 99%;
  }

  .primary-text{
    font-size: 25px;
    padding: 0%;
    margin: 0%;
  }

  .colz-icon a{
    cursor: pointer;
    border-radius: 4px;
    padding-left: 2%;
    padding-right: 2%;
  }  

}

@media all and (min-width: 450px) and (max-width: 750px){
  .container{
    height: fit-content;
    padding-bottom: -20px;
  }

  #Home{
    padding-top: 20%;
  }
  
  .container > div {
    display: flex;
    height: 90vh;
    justify-content: space-between;
  }

  .profile-details-name{
      font-size: 13px;
  }
    
  .profile-details-role{
    margin: 5px 0 10px 0;
  }

  .highlighted-text{
    font-size: 20px;
  }

  h6{
    font-size: 15px;
  }

  .profile-tag-line{
    font-size: 15px;
    margin: 1px 0px 0px 0px;
  }

  .profile-picture{
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 0px 0px red;
    cursor: pointer;
    padding: 2%;
    border-radius: 50%;
    margin: 0px 0px 0px 3px;
  }

  .profile-picture-background{
    height: 95%;
    width: 95%;
    border-radius: 50%;
  }
  .profile-picture-background img{
    width: 96%;
    height: 98%;
  }

  .primary-text{
    font-size: 25px;
  }

  .colz-icon a{
    cursor: pointer;
    border-radius: 4px;
    padding-left: 2%;
    padding-right: 2%;
  }  
}

/* 
@media all and (min-width: 400px) and (max-width: 450px){
  .profile-picture-background{
    height: 90%;
    width: 90%;
    border-radius: 50%;
  }
  .profile-picture{
    height: auto;
    width: auto;
  }
  .imagebox{
    width: 80%;
    height: 80%;
    margin: auto;
    margin-top: 40%;
    padding-bottom: 5%;
}
} */

@media all and (min-width: 280px) and (max-width: 450px){
  #Home > hr{
    margin-top: 18%;
    margin-bottom: 10%;
  }
  #Home{
    padding-top: 10%;
    background-color: rgb(230, 226, 226);
  }

  .container{
    height: fit-content;
    background-color: rgb(236, 236, 246);
    background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/2800_opt_1/9e923283480591.5d47400f2029b.png);
    background-repeat: no-repeat;
    background-size: 200%;
    background-position-y: bottom;
    padding-bottom: 5%;
    margin-bottom: 0%;
  }  

  .container > div{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    width: 100%;
    height: auto;
    margin: auto;
    margin-top: 3%;
  }
/* 
  .container > div > div{
    border: 1px solid red;
  } */

  .description{
      width: 90%;
      margin: auto;
      margin-top: 0%;
  }

  .profile-picture{
    height: auto;
    width: auto;
    margin: 3%;
    padding-bottom: 2%;
    box-shadow: 0 4px 0px 0px rgb(247, 7, 51);
  }

  .imagebox{
      width: 90%;
      display: block;
      height: 90%;
      text-align: center;
      margin: 5%;
  }

  .profile-details-name{
      font-size: 25px;
  }
  .profile-picture-background{
    height: 90%;
    width: 90%;
    border-radius: 50%;
  }
  
  .profile-details >div:last-child{
    background-color: rgb(29, 25, 25);
    margin: 0%;
  }
  .profile-details-role{
    margin: 14px 0 24px 0;
    border-top-right-radius: 25%;
    background-color: rgb(29, 25, 25);
  }

  .highlighted-text{
    color: red;
    font-size: 25px;
  }

  .profile-tag-line{
    font-size: 15px;
    color: white;
    margin: 1px 0px -10px 0px;
    padding-bottom: 3%;
    background-color: rgb(29, 25, 25);
  }

  h6{
    font-size: 15px;
  }

  .profile-picture{
    height: auto;
    width: auto;
  }

  .primary-text{
    font-size: 25px;
    background-color: rgb(29, 25, 25);
    color: rgb(250, 105, 1);
  }

  h6{
    padding-top: 5%;
    margin: 0%;
    color: white;
  }

  .colz-icon{
    display: flex;
    margin-bottom: 5%;
    gap: 2%;
    
  }
    
  .colz-icon a{
    border-radius: 5px;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
    color: black;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    background-color: white;
  }  

}
