.App {
  margin: auto;
  background-color: rgb(187, 190, 193);
}

.whatsapp_float {
  position: fixed;
  width: 55px;
  height: fit-content;
  bottom: 40px;
  right: 40px;
  background-color: #045f25;
  color: white;
  border-radius: 50%;
  text-align: center;
  font-size: 38px;
  z-index: 100;
  display: block;
  text-align: center;
}

.whatsapp-icon {
  margin: auto;
  margin-top: 15%;
  margin-bottom: 15%;
}

.whatsapp_float:hover {
  background-color: rgb(37, 36, 36);
  border: 1px solid rgb(3, 149, 40);
}

.whatsapp-icon:hover {
  color: rgb(4, 255, 0);
  transform: scale(1.1);
  transition: 0.4s ease-in;
}

@media screen and (max-width: 767px) {
  .whatsapp_float {
    width: 40px;
    height: fit-content;
    bottom: 20px;
    right: 15px;
    font-size: 29px;
  }
}